name: Send Digest

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  send-news-summaries:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install jq
        run: sudo apt-get install -y jq

      - name: Send Email via SendGrid
        run: |
          # Get the latest file
          latest_file=$(ls -rt summaries/ | tail -n1)
          
          # Build JSON payload using jq with file input
          json_payload=$(jq -n \
            --arg to "barbara@mechanicalgirl.com" \
            --arg from "barbara@mechanicalgirl.com" \
            --arg subject "Latest Summary File" \
            --rawfile content "summaries/$latest_file" \
            '{
                personalizations: [{ to: [{ email: $to }] }],
                from: { email: $from },
                subject: $subject,
                content: [{ type: "text/plain", value: $content }]
            }')

          curl --request POST \
            --url https://api.sendgrid.com/v3/mail/send \
            --header "Authorization: Bearer ${{ secrets.SENDGRID_API_KEY }}" \
            --header 'Content-Type: application/json' \
            --data "$json_payload"
